

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1c5791;
$dark-blue: #12375d;
$light-blue: #e6f3ff;
$ultra-dark-blue: #1a2938;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #a22226;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #11572e;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$dark-white: #eaefea;


$primary: $blue;
$secondary: $orange;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $light-blue;
$dark: $blue;

// Body
$body-bg: $light-blue;
$table-bg: rgba($light-blue, 0);

$navbar-dark-color: $white ;
$navbar-dark-hover-color: rgba($light-blue, .75);
$navbar-dark-active-color: $light-blue;
$navbar-dark-disabled-color: rgba($white, .25);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: rgba($white, .1);
$navbar-dark-brand-color: $navbar-dark-active-color;
$navbar-dark-brand-hover-color: $navbar-dark-active-color;


$accordion-bg: $light-blue;
$accordion-border-radius: 10px;
$accordion-color: $blue;
$accordion-border-color: $blue;
$accordion-border-width: 3px;
$accordion-button-focus-border-color: $blue;
$accordion-button-border-color: $blue;