

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light-blue: #b3ecff;
$blue: #000648;
$dark-blue: #12375d;
$ultra-dark-blue: #1a2938;

$light-green: #02ffff;
$green: #009999;
$dark-green: #003333;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;

$ligth-red: #CD5C5C;
$red: #a22226;

$orange: #FF6347;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$dark-white: #f2f9f2;





$primary: $blue;
$secondary: $orange;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$ultra-light: $dark-white;
$light: $white;
$dark: $blue;

// Body
$body-bg: $dark;
$input-bg: $light;
$table-bg: rgba($light, 0);

$navbar-dark-color: $white ;
$navbar-dark-hover-color: rgba($light, .75);
$navbar-dark-active-color: $light;
$navbar-dark-disabled-color: rgba($white, .25);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: rgba($white, .1);
$navbar-dark-brand-color: $navbar-dark-active-color;
$navbar-dark-brand-hover-color: $navbar-dark-active-color;


$accordion-bg: $light;
$accordion-border-radius: 10px;
$accordion-color: $green;
$accordion-border-color: $green;
$accordion-border-width: 3px;
$accordion-button-focus-border-color: $green;
$accordion-button-border-color: $green;