/* cards */

.card-header {
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}


.top-5 {
    top: 5rem;
}

.start-1 {
    left: 1rem;
}

.card {
    background-color: rgba($white, 0);
}

.card-header {
    background-color: $dark;
    color: $light;
    font-weight: 600;
}

.card-body {
    background-color: $ultra-light;
}

.teacher-card {
    border-radius: 1.5rem;
    background-color: $ultra-light;
    margin: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}