/* navbar */

.navbar-light .nav-link{
    --bs-nav-link-color: $dark;
}

.navbar {
    padding: 0.2rem;
}

.nav-item {
    margin: 0 5px 0 5px;
}

.nav-item a.nav-link {
    border-radius: 5px;
}

.navbar-light{
    color: $dark;
}

.nav-item button.nav-link {
    margin: 5px;
    border-radius: 5px;
}



.navbar-brand img {
    max-height: 30px;
}


#chart_div {
    width: 100%;
    min-height: 450px;
}

a.nav-link{
    display: block;
    padding: 0.3rem;
}

.nav-item a.active{
    font-weight: 600;
//    padding-left: 0.7rem;
}

.nav-item a.active::before{
    content: "- ";
}


#navbarBottom li{
    border: 2px solid $light-blue;
    border-radius: 0.5rem;
    padding: 0.2rem;
}