/* tables */





.div-table {
    max-width: 100%;
    overflow-y: scroll;
}

table {
    margin: 1rem 0 1rem 0;
    width: 100%;
    background-color: $white;
    border-radius: 0.5rem;
}



.table-table tr {
    max-height: 20px;
}

table th.subj-name,
table td.subj-name {
    max-width: 200px;
    white-space: nowrap;
    /* Отменяем перенос текста */
    overflow: hidden;
    /* Обрезаем содержимое */
    text-overflow: ellipsis;
    /* Многоточие */
}

.table-table,
.table-table td {
    font-size: 1rem;
    padding: 0 !important;
}

.table-table td.hr-cnt {
    text-align: center;
    vertical-align: center;
}


.table thead,
.table tfoot {
    //color: $white !important;
    //background-color: $primary !important;
}

.table th {
    vertical-align: middle !important;
    //text-align: center !important;
    //border: 1px solid $white !important;
    font-size: 1rem;
    font-weight: 600 !important;
    padding: 0 !important;
}

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


table td.we-cols {
    //background-color: $cyan !important;
}

th.rotate {
    /* Something you can count on */
    height: 200px;
    position: relative;
}

th.rotate>div {
    bottom: 5px;
    left: 50%;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: center left;
    white-space: nowrap;
}

td a.link-150px {
    display: block;
    max-width: 150px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}